[Desktop Entry]
Name=MyScript
GenericName=A descriptive name
Comment=Some description about your script
Exec=~/Downloads/Linux Clean/files/troll.sh
Terminal=true
Type=Application
X-GNOME-Autostart-enabled=true
